body {
    min-height: 100vh; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    gap: 16px; 
    align-items: center; 
    justify-content: center; 
    background-color: #b3a7fe; 
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0; 
    text-align: center;
}

button, a.btn {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 0; 
    border-radius: 20px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    display: inline-block; 
}

p 
{
display: flex;
align-self: center;
}
body.game-page {
    background-color: #ffffff;
}
.grid-container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    width: 80%; 
    max-width: 600px; 
}
.grid-item {
    background-color: #d7d8c2; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    text-align: center; 
    font-size: 18px; 
    cursor: pointer; 
    user-select: none; 
    transition: background-color 0.3s, transform 0.7s linear;
}

.grid-item.selected {
    background: #222;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
.grid-item.connection{
    background-color: green;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
        width: 90%;
        gap: 8px;
    }
    
    .grid-item {
        padding: 18px;
        font-size: 16px;
    }
    
    button, a.btn {
        padding: 12px 24px;
        font-size: 18px; 
    }
}


@media (max-width: 480px) {
    .grid-container {
        width: 95%;
        gap: 6px;
    }
    
    .grid-item {
        padding: 15px;
        font-size: 14px;
    }
    
    h2 {
        font-size: 20px;
        text-align: center;
    }
    
    button, a.btn {
        width: 100%;
        margin: 5px 0;
    }
}